<!-- add batch form  -->
<form action="/batch/create" method="POST">
    <h1 style="color: brown;">Create Batch</h1>
    <input type="text" name="name" placeholder="Name of the Batch" required>
    <input type="text" name="cordinator" placeholder="Batch Coordinator name" required>
    <button value="createBatch" class="submit">Create Batch</button>
    <a href="/">Back</a>
</form>