<!-- Ejs file to add company form  -->
<form action="/company/create" method="POST">
    <h1 style="color: brown;">Add Company</h1>
    <input type="text" name="name" placeholder="Company's name" required>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Company's Description" required></textarea>
    <button value="createCompany" class="submit">Add Company</button>
    <a href="/">Back</a>
</form>
